@import url('https://fonts.googleapis.com/css?family=Plaster|Poppins|Roboto:400,500,700&display=swap');

@font-face {
    font-family: 'futura_ltbold';
    src: url('futuralt-bold-webfont.woff2') format('woff2'),
         url('futuralt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
  font-family: 'Plaster', sans-serif;
}
